<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <h1>Hello</h1>
  <p>{{.description}}</p>

  <form action="/create_room" method="get">
    映画のタイトル：<input type="text" name="movie_title" id="movie_title">
    <br>
    動画のリンク：<input type="text" name="movie_link" id="movie_link">
    <br>
    開始時刻：<input type="datetime-local" name="start_datetime" id="start_datetime">
    <br>
    <input type="submit" value="シアター作成">
  </form>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}